<img
  class='flag'
  src='{{this.flags.svg}}'
  alt='{{this.flags.alt}}'
  width='30'
/>
<h1 class='title'>{{this.name.official}}</h1>
<p>Capital: {{this.capital}}</p>
<p>Population: {{this.population}}</p>
<p>Languages: {{this.valueLanguages}}</p>